/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
/* common css */
main {
  margin-top: 10vh;
  margin-left: 10vh;
}
ul {
  display: flex;
}
ul > li {
  list-style: none;
  margin: 8px;
}
.hero {
  margin-top: 10vh;
  display: flex;
}
