/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}
main {
  margin: 10vh 10vh 0vh 10vh;
}
h1 {
  font-size: 35px;
}
/* common css */

ul {
  display: flex;
}
ul > li {
  list-style: none;
  margin: 8px;
}
.hero {
  margin-top: 10vh;
  display: flex;
}
.content {
  flex-basis: 40%;
}
.hero-text {
  margin-top: 0.8rem;
}
.img {
  flex-basis: 60%;
}
.img img {
  float: right;
  max-width: 100%;
}
.btn {
  border-radius: 115px;
  padding: 8px 13px 8px 13px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: coral;
  color: #ffff;
  border: none;
  font-size: 21px;
}
button > a > i {
  margin-left: 0.7rem;
}
.logo {
  text-align: center;
  margin-top: 5vh;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  padding: 25px 0 25px 0;
}
.logo img {
  margin-right: 2rem;
  width: 70px;
}
